header{
  background-image: url("../image/encyclopedie.jpg");
  color: white;
  text-align: center;
  border-radius: 45px;
  padding: 10px;
}
aside{
  width:250px;
  display: inline-block;
  border-top:3px solid green;
  border-right:3px solid green;
  border-left:3px solid green;
  padding:0px;
}
iframe{
  float: right;
  display: inline-block;
  width:450px;
  height:700px;
}
footer{
  clear:right;
}
ul{
  list-style: none;
  padding:0px;
}
li{
  display: block;
}
a.article{
  border-bottom:3px solid green;
  text-align: center;
  background-color: lightGreen;
  width:100%;
  padding:18px 0px;
  display: block;
}
